body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  background-color: #daece0; /* Light blue */
  color: #253781; /* Dark blue */
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff; /* White */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.logo {
  margin-bottom: 20px;
}

.contact-info {
  margin-top: 50px;
}

.contact-info p {
  margin-bottom: 15px;
  font-size: 16px;
}

h1,
h2 {
  color: #0f0981; /* Dark blue */
  font-weight: bold;
}

footer {
  margin-top: 50px;
  background-color: #f0f0f0; /* Light grey */
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #253781; /* Dark blue */
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

form {
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

button {
  background-color: #253781; /* Dark blue */
  color: #fef9ff; /* White */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

button:hover {
  background-color: #0f0981; /* Darker blue */
}
